<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>groupie-tracker</title>
</head>
<body>
  <div style="text-align: center;margin: 5px;">
    <h1>GROUPIE-TRACKER</h1>
  </div>
  <div style="width: 97%;height: 100%;  text-align: center; margin: 10px;">
    {{range .}}
    <div style=" display: inline-flex; width: 250px; height: 300px;">
     
      <form action="/ArtistHandle" method="get">
        <div name="name1"  style="display: block; text-align: center; margin: 5px;">
          <img src="{{.Image}}" alt="oo"><br>
      <!-- <input type="submit" name="name1" value="{{.ID}}"> -->
      <button type="submit" name="id" value="{{.ID}}">{{.Name}}</button>
      <!-- <label for="name1">{{.Name}}</label> -->
    
        </div>
      </form>
    </div>
    {{end}}
  </div>
</body>
</html>

<!-- 
<form action="/">
  {{range .}}
  <div style="display: inline-flex; ">
    {{.ID}}
    <a href="/Information" style="display: block;"><img src="{{.Image}}" alt="oooooooooooooooooooo"></a><br>
    <form action="/Information">
    <div name="name1"  style="display: block;">
  <input type="submit" name="name1" value="{{.ID}}">

    </div>
  </form>
      </div>

  {{end}}
</form> -->