<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>groupie-tracker</title>
</head>
<body>
<div >
<form action="/">
  {{range .}}
  <div style="display: inline-flex; ">
    {{.ID}}
    <a href="/Information" style="display: block;"><img src="{{.Image}}" alt="oooooooooooooooooooo"></a><br>
    <form action="/Information">
    <div name="name1"  style="display: block;">
  <input type="submit" name="name1" value="{{.ID}}">

    </div>
  </form>
      </div>

  {{end}}
</form>
</div>
</body>
</html>