body{
    background: #edede9;
}
.header{
    margin: auto;
    width: 98%;
    text-align: center;
    background-color: #344e41;
    border-radius: 15px;
    /* margin: 5px; */
    /* text-align: center; */
}
::-webkit-scrollbar{
    display: none;
}
.searsh{
    display: flex;
justify-content: space-around;

/* padding: 20px; */
background-color: #3a5a40;
border-radius: 15px;
}
.title{
    /* background-color: red; */
    font-size: large;
    color: #dad7cd;
}
.inputsearsh {
    width: 70%;
    /* background-color: blue; */
    text-align: center;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: 20px; /
}

.text {
    width: 70%;
    max-width: 600px; 
    min-width: 300px; 
    border-radius: 10px;
    border: 1px solid #dad7cd; 
    padding: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 16px; 
    color: rgb(12, 10, 10); 
    outline: none
}
.butuon{
    background-color: #344e41; 
    color: #dad7cd;
    border: none; 
    padding: 10px 20px; 
    font-size: 16px; 
    border-radius: 5px; 
    cursor: pointer; 
    margin-left: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease;
}
.butuon:hover {
    background-color: #dad7cd;
    color: #344e41;
}
.filter{
    background-color:#344e41;
    width: 80%;
    padding: 20px;
    position: relative;
    left: 10%;
    /* text-align: center; */
} 
input[type="range"] {
    /* -webkit-appearance: none;  */
    width: 25%; 
    /* margin: 10px 0; */
    border-radius: 8px;
    background: #dad7cd; 
}
h3{
    color: #dad7cd;
}
span{
    color: #dad7cd;
}
.continer {
    margin: auto;
    width: 98%;
    text-align: center;
    margin-top: 10px;
    background-color: #dad7cd;
    border-radius: 15px;
    /* padding: 20px;  */
}

.artiste {
    background-color: #3a5a40;
    display: inline-block; 
    text-align: center;
    justify-content: space-around;
    width: 250px; 
    height: 350px; 
    margin: 10px; 
    border-radius: 15px;
    border: 2px solid #344e41;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease; 
}

.artiste:hover {
    transform: translateY(-10px);
}

.artiste img {
    width: 100%;
    height: auto;
    border-radius: 15px 15px 0 0; 
}

.artiste button {
    background-color: #588157;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.artiste button:hover {
    background-color: #a3b18a;
}
